<div class="row">
    <div class="col-md-12">
        <tr>
            <h2>Expertises</h2>
            <a href="/expertise/add" class="btn btn-success pull-right">Add New Expertise</a>
            <hr />

            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Expertise Number</th>
                            <th>Expertise Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each expertise}}
                        <tr>
                            <td><a href="/expertises/{{expertiseId}}">{{expertiseId}}</a></td>
                            <td><a href="/expertises/{{expertiseId}}">{{expertiseName}}</a></td>
                            <td><a href="/expertise/delete/{{expertiseId}}"> <input type="submit"
                                        class="btn btn-primary pull-right" style="background: red;"
                                        value="Remove" /></a>
                            </td>
                            {{!-- <td><a href="/vakeelses?expertise={{expertiseId}}">{{expertiseName}}</a></td> --}}
                        </tr>
                        {{else}}
                        <tr>
                          <td colspan="5">No Data Available</td>
                     </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>
</div>