<div class="row">
<div class="col-md-12">
<h2>Vakeels</h2>
<hr />
{{#if errorMessage}}
<div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
{{/if }}

<fieldset>
<form method="post" action="/vakeels/search">
    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <label for="keyword">Keyword</label>
                        <input class="form-control" id="keyword" name="keyword" type="text" placeholder="Search" required value=""
                        />
                </div>
            </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="filterBy">Filter By</label>
                <select class="form-control" name="filterBy" id="filterBy">
                        <option value="firstName">First Name</option>
                        <option value="lastName">Last Name</option>
                        <option value="expertise">Expertise</option>
                </select>
            </div>
        </div>
</div>
  <div class="row">
  <div class="col-md-6">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="search" />
            </div>
        </div>
</div>

</form>
</fieldset>
<hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                   <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Expertise</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {{#each vakeel}}
                    <tr>
                        <td>{{firstName}} {{lastName}}</a></td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td>{{contact}}</td>
                        <td>{{expertise}}</a></td>
                     {{#if ../session.user.admin}}
                        <td>
                            <a href="/vakeels/delete/{{vakeelNum}}"> <input type="submit"
                                        class="btn btn-primary pull-right" style="background: red;"
                                        value="Remove" /></a>
                            </td>

                            {{/if}}
                    </tr>
                    {{else}}
                    <tr>
        <td colspan="5">No Results</td>
    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless vakeel}}
        <div class="col-md-12 text-center"><strong>{{message}}</strong></div>
    {{/unless}}
</div>