<div class="row">
<div class="col-md-12">
<h2>My Cases</h2>

<hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                   <tr>
                        <th>Case Title</th>
                        <th>Appointed Vakeel</th>
                        <th>Expertise</th>
                        <th>Vakeel Response</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cases}}
                    <tr>
                        <td> <a href="/case/{{_id}}"> {{caseTitle}}</a></td>
                        <td>{{vakeelName}}</td>
                        <td>{{expertise}}</a></td>
                        <td>{{vakeelResponse}}</a></td>    
                          {{#if ../session.user.user}}
                        <td>
                            <a href="/case/delete/{{_id}}"> <input type="submit"
                                        class="btn btn-primary pull-right" style="background: red;"
                                        value="Remove" /></a>
                            </td>

                            {{/if}}
                    </tr>
                    {{else}}
                    <tr>
                          <td colspan="5">No Results</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless vakeel}}
        <div class="col-md-12 text-center"><strong>{{message}}</strong></div>
    {{/unless}}
</div>